 /* 
  html {
      box-sizing: border-box;
      max-width: 1020px;
      margin: 0 auto;
      font-family: "Lato", sans-serif;
  }
*/

.header{
    max-width: 1020px;
    height: 89px;
    background-color: #2d303a;
    display: flex;
    align-items: center;
    border-bottom: 6px solid  #323746;;
}

.navbar{
    display:flex;
    justify-content: space-between;
    width: 371px; 
    margin-right: 40px;
    margin-top: 45px;
    margin-bottom: 36px;
}

.navbar li{
    font-size: 12px;
    line-height: 6px;
    color:white;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    text-align: left;   
}

.navbar li.select{
    list-style-type: none;
    color: #f06c64;
}

.main{

}
/* стрелочка */
.arrowR {
    transform: rotate(180deg);

.our-services__name{
    position: absolute;
    top: 68px;
    left: 40px;
    font-size: 30px;
    line-height: 18px;
    color: #666d89;
    font-family: "Lato-Black", sans-serif;
    letter-spacing: -0.2px;
}

.our-services__description{
    position: absolute;
    top: 97px;
    left: 40px;
    width: 950px;
    height: 57px;
    font-size: 17px;
    line-height: 30px;
    color: #767e9e;
    font-family: "Lato Thin", sans-serif;
    letter-spacing: 0.36px;
}

.tools {
    position: absolute;
    top: 222px;
    left:41px;
    right:41px;
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;

}

.tool{
    width: 300px;
    height: 86px;
    position: relative;
    margin-bottom: 37px;
}

.ico{
    float: left;
    position: absolute;
    display: block;
}

.tool__title{
    
    position: absolute;
    top: -20px;
    left: 82px;
    font-size: 18px;
line-height: 18px;
color: #666d89;
font-family: "Lato";
font-weight: 900;
text-align: left;
}

.tool__description{
    position: absolute;
    top: 15px;
    left: 82px;
    width: 219px;
height: 128px;
font-size: 12px;
line-height: 22px;
color: #767e9e;
font-family: "Lato";
font-weight: 400;
text-align: left;
}
.services-block{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1024px;
    
}